*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consolas;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #333;

}
.calculator{
    position: relative;
    width: 300px;
}
.calculator .buttons{
    position: relative;
    display: grid;

}    
.calculator .buttons #value{
    margin-bottom: 8px;
    position: relative;
    grid-column: span 4;
    left: 8px;
    line-height: 100px;
    padding: 0 20px;
    border-radius: 10px;
    background: #5af74b;
    text-align: right;
    font-size: 1.5em;
    color: #3a3c2e;
    overflow: hidden;
    user-select: none;
    width: calc(100% - 16px);
}
.calculator .buttons #value::before{
    content: '';
    position: absolute;
    inset: 5px 3px;
    border-top: 1px solid #ccc;
    filter: blur(2px);
}

.calculator .buttons span{
    position: relative;
    padding: 10px;
    margin: 6px;
    min-width: 1.1em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #080606;
    background: #e8f8f4;
    user-select: none;
    cursor: pointer;

}
.calculator .buttons span::before{
    content: '';
    position: absolute;
    inset: 5px 3px;

}
.calculator .buttons span:active{
    color: #fff;
    text-shadow: #333;
}
.calculator .buttons span#clear{
    grid-column: span 2;
    background: #f44336;
    color: #fff;

}
.calculator .buttons span#plus{
    grid-row: span 2;
    background: #31a935;
    color: #fff;
}
.calculator .buttons span#equal{
    
    background: #2196f3;
    color: #fff;
}